/* Need to created or borrow bootstrap css 
    I want to make easy flex boxes for the answers 
    need to round off symmetry for each box     */

/* CSS HEX */
:root{
    --blue-gray: #6699ccff;
    --russian-violet: #420039ff;
    --bud-green: #70ae6eff;
    --rifle-green: #4a5240ff;
    --unbleached-silk: #ffddd2ff;
}
header{
    background-color: var(--bud-green);
    color: var(--unbleached-silk);
}

.container{
    height: 300px;
    width: auto;


}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#display{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    font-size: 15px;
    margin: 0px auto;
}

.buttons{
    display: flex;
    justify-content: center;
}

footer{
    color: var(--unbleached-silk);
    background-color: var(--bud-green);
    text-align: center;
}